.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 50px;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--hero-color);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item {
  width: 44px;
  height: 44px;
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.soc-list__ico {
  fill: var(--button-no-active-color);
}

.soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    & .team-soc-ico {
      fill: var(--additional-text-color);
    }
  }
}

.team-card {
  padding: 30px;
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color);
  margin-bottom: 10px;
}

.team-card__position {
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--text-color);
}
